
<!-- Prima riga -->
<h1 class="text-center m-4">Le nostre pizze !</h1>
       
<div class="container">
    <div class="ro">
        <div class="col-2 no-float" style="vertical-align: top;">
            <span class="text-danger"><strong>Menù</strong></span><br />
            <span><strong>Antipasti</strong></span><br />
            <span><strong>Pizze</strong></span><br />
            <a href="/bevande.cshtml"><span><strong>Bevande</strong></span></a><br />
</div>
        <div class="col no-float">
            <div class="row mb-3">
                <div class="col">
                    <div class="card" style="width: 15rem;">
                        <img src="/img/marinara.png" class="card-img-top" alt="pizzamarinara">
                        <div class="card-body">
                            <p class="card-text">
                                <span><strong>Marinara</strong></span><br />Pomodoro pelato italiano, Aglio di Nubia, Origano di Pantelleria, Olio evo e basilico <br /><span><strong>Prezzo: 7€</strong></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 15rem;">
                        <img src="/img/salsicciaefriarelli.png" class="card-img-top" alt="pizzaSalefriarelli">
                        <div class="card-body">
                            <p class="card-text">
                                <span><strong>Salsiccia e friarelli</strong></span><br />Provola di Agerola Affumicata in paglia, Friarielli Salsiccia a punta di coltello<br /><span><strong>Prezzo: 14€</strong></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 15rem;">
                        <img src="/img/prosciutto.png" class="card-img-top" alt="pizzaprosciuttofunghi">
                        <div class="card-body">
                            <p class="card-text">
                                <span><strong>Prosciutto e funghi</strong></span><br />Fiordilatte del Matese, funghi champignon, Prosciutto cotto Bonfatti Olio evo e basilico <br /><span><strong>Prezzo: 12€</strong></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 15rem;">
                        <img src="/img/acciughe.png" class="card-img-top" alt="pizzaacciughe">
                        <div class="card-body">
                            <p class="card-text">
                                <span><strong>Acciughina</strong></span><br />Pomodoro pelato italiano, Fiordilatte del Matese, Acciughe del cantabrico, capperi di Salina <br /><span><strong>Prezzo: 15€</strong></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Seconda riga -->

            <div class="row mb-3">
                <div class="col">
                    <div class="card" style="width: 15rem;">
                        <img src="/img/4formaggi.png" class="card-img-top" alt="pizza4formaggi">
                        <div class="card-body">
                            <p class="card-text">
                                <span><strong>4 Formaggi</strong></span><br />Fiordilatte del Matese, Fontina valdostana, Emmentaler, Gorgonzola, Parmigiano Reggiano<br /><span><strong>Prezzo: 11€</strong></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 15rem;">
                        <img src="/img/calzone.png" class="card-img-top" alt="calzone">
                        <div class="card-body">
                            <p class="card-text">
                                <span><strong>Calzone 2.0</strong></span><br />Pomodoro pelato italiano, Fiordilatte del Matese, Salame di Mugnano del Cardinale, Ricotta di bufala<br /><span><strong>Prezzo: 15€</strong></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 15rem;">
                        <img src="/img/diavola.png" class="card-img-top" alt="pizzadiavola">
                        <div class="card-body">
                            <p class="card-text">
                                <span><strong>Inferno</strong></span><br />Pomodoro pelato italiano, Spianata calabrese, Provola di Agerola, Parmigiano Reggiano<br /><span><strong>Prezzo: 13€</strong></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 15rem;">
                        <img src="/img/regina.png" class="card-img-top" alt="pizzaregina">
                        <div class="card-body">
                            <p class="card-text">
                                <span><strong>Regina</strong></span><br />Pomodorini datterini, Mozzarella di bufala, Parmigiano Reggiano, Olio evo e basilico<br /><span><strong>Prezzo: 14€</strong></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



