@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Peppe Pizzeria</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="https://images.vexels.com/media/users/3/230453/isolated/lists/0c2e041b27c3505320041a0f51ed2370-slice-of-pizza-flat.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
                    Da Peppe Pizzeria
                </a>
            </div>
        </nav>
    </header>
    <main>
        <!-- Prima riga -->
        <div class="container">
            <h1 class="text-center m-4">Le nostre pizze !</h1>
            <div class="row ">
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="/img/marinara.png" class="card-img-top" alt="pizzamarinara">
                        <div class="card-body">
                            <p class="card-text">
                                <span><strong>Marinara</strong></span><br />Pomodoro pelato italiano, Aglio di Nubia, Origano di Pantelleria, Olio evo e basilico <br /><span><strong>Prezzo: 7€</strong></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="/img/salsicciaefriarelli.png" class="card-img-top" alt="pizzaSalefriarelli">
                        <div class="card-body">
                            <p class="card-text">
                                <span><strong>Salsiccia e friarelli</strong></span><br />-Provola di Agerola Affumicata in paglia, Friarielli Salsiccia a punta di coltello<br /><span><strong>Prezzo: 14€</strong></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="/img/marinara.png" class="card-img-top" alt="pizzamarinara">
                        <div class="card-body">
                            <p class="card-text">
                                <span><strong>Marinara</strong></span><br />Pomodoro pelato italiano, Aglio di Nubia, Origano di Pantelleria, Olio evo e basilico <br /><span><strong>Prezzo: 7€</strong></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="/img/salsicciaefriarelli.png" class="card-img-top" alt="pizzaSalefriarelli">
                        <div class="card-body">
                            <p class="card-text">
                                <span><strong>Salsiccia e friarelli</strong></span><br />-Provola di Agerola Affumicata in paglia, Friarielli Salsiccia a punta di coltello<br /><span><strong>Prezzo: 14€</strong></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
                <!-- Seconda riga -->
                
            <div class="row ">
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="/img/marinara.png" class="card-img-top" alt="pizzamarinara">
                        <div class="card-body">
                            <p class="card-text">
                                <span><strong>Marinara</strong></span><br />Pomodoro pelato italiano, Aglio di Nubia, Origano di Pantelleria, Olio evo e basilico <br /><span><strong>Prezzo: 7€</strong></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="/img/salsicciaefriarelli.png" class="card-img-top" alt="pizzaSalefriarelli">
                        <div class="card-body">
                            <p class="card-text">
                                <span><strong>Salsiccia e friarelli</strong></span><br />-Provola di Agerola Affumicata in paglia, Friarielli Salsiccia a punta di coltello<br /><span><strong>Prezzo: 14€</strong></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="/img/marinara.png" class="card-img-top" alt="pizzamarinara">
                        <div class="card-body">
                            <p class="card-text">
                                <span><strong>Marinara</strong></span><br />Pomodoro pelato italiano, Aglio di Nubia, Origano di Pantelleria, Olio evo e basilico <br /><span><strong>Prezzo: 7€</strong></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="/img/salsicciaefriarelli.png" class="card-img-top" alt="pizzaSalefriarelli">
                        <div class="card-body">
                            <p class="card-text">
                                <span><strong>Salsiccia e friarelli</strong></span><br />-Provola di Agerola Affumicata in paglia, Friarielli Salsiccia a punta di coltello<br /><span><strong>Prezzo: 14€</strong></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</main>
    <footer>

    </footer>

    
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>


